* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.content {
  width: 100%;
  min-height: 2000px;
  margin: auto;
}
.content marquee {
  font-size: small;
  font-family: Arial;
  text-align: center;
  margin: 10px;
}

.content .logo-menu-button {
  width: 100%;
  height: 50px;
  display: flex;
  background-color: black;
  position: sticky;
  top: 0;
}
.logo-menu-button .logo {
  width: 10%;
  height: 50px;
  background-color: #000;
}
.logo img {
  width: 55%;
  height: 45px;
  padding: 10px;
  margin-left: 23px;
  margin-top: 3px;
}
.logo-menu-button .menu {
  width: 55%;
  height: 50px;
  background-color: #000;
}
.menu ul {
  display: flex;
}
.menu ul li {
  width: 100%;
  margin: 5px;
  padding-top: 9px;
  list-style: none;
  text-align: center;
}
.menu ul li a {
  text-decoration: none;
  display: inline-block;
  display: flex;
  color: white;
  font-size: 14px;
}
.logo-menu-button .buttons {
  width: 30%;
  height: 50px;
}
.buttons a {
  text-decoration: none;
}
.buttons a input {
  width: 150px;
  margin: 14px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.buttons img {
  width: 200px;
  height: 50px;
  border: none;
  background-color: #000;
}
.button1 {
  display: flex;
  background-color: #000;
}
.button1 a {
  padding: 10px;
}
.button1 img {
  width: 40px;
  height: 40px;
  margin: 2px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.sale {
  width: 100%;
}
.sale h1 {
  width: 50px;
  margin-left: 25px;
}
.sale h1 a {
  text-decoration: none;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
}
.sale {
  width: 100%;
  height: 750px;
  margin-bottom: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%, 100%;
  background-image: url(./image/stylish-brunette-girl-red-jacket-against-studio-black-brick-wall.jpg);
}
.sale button {
  margin-left: 60px;
  width: 100px;
  background-color: aliceblue;
  height: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
}
.display {
  width: 95%;
  height: 65px;
  margin: auto;
}
.display .play {
  width: 100%;
  height: 30px;
  margin: auto;
  display: flex;
}
.display .play h3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  padding-left: 8px;
}
.display .play p {
  font-size: 25px;
  padding-left: 15px;
}
.display1 {
  width: 100%;
  height: 30px;
  margin: auto;
  display: flex;
}
.display1 h2 {
  font-size: small;
}
.filter {
  width: 95%;
  height: 60pxpx;
  margin: auto;
  position: sticky;
  background-color: white;
  top: 50px;
}
.filter .br {
  width: 100%;
  height: 0px;
  border: 0.1px solid gray;
  margin-top: 10px;
  margin-bottom: 10px;
}
.filter .filter1 {
  display: flex;
  gap: 870px;
}
.filter .filter1 a {
  text-decoration: none;
  color: black;
  width: 100px;
  height: 25px;
  display: flex;
  margin-left: 20px;
  padding: 3px;
  padding-left: 8px;
  border: 0.5px solid #000;
}
.filter .filter1 img {
  width: 25px;
  height: 20px;
  margin-top: -2px;
}
.filter1 .sort a {
  text-decoration: none;
  color: black;
  width: 100px;
  height: 25px;
  display: flex;
  padding-left: 8px;
  margin-bottom: 2px;
  border: 0.5px solid #000;
  /* margin-left: 670px; */
}
.content1 {
  width: 95%;
  min-height: 800px;
  margin: auto;
}
.content1 h4 {
  padding: 10px;
}
.product {
  width: 100%;
  height: 310px;
  display: flex;
  /* justify-content: flex-end; */
  margin: auto;
  gap: 10px;
}
.product h4 {
  margin: 5px;
}
.product .box {
  width: 25%;
  height: 220px;
}
.box img {
  width: 100%;
  height: 100%;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.box .par {
  width: 100%;
  height: 30px;
}
.box .par1 {
  width: 100%;
  height: 30px;
}
.footer {
  height: 250px;
  width: 100%;
  background-color: #000;
  display: flex;
}
.support {
  width: 25%;
  height: 100%;
  text-align: left;
  margin-left: 20px;
}
.support h4 {
  color: white;
  margin-left: 5px;
}
.support a {
  text-decoration: none;
  color: gray;
  display: flex;
  margin: 3px;
}
.FAQ {
  width: 25%;
  height: 90%;
  margin-left: 5px;
  text-align: left;
  margin-top: 20px;
}
.FAQ a {
  text-decoration: none;
  color: gray;
  display: flex;
  margin: 3px;
}
.About {
  width: 20%;
  height: 100%;
  margin-left: 5px;
  text-align: left;
}
.About h4 {
  color: white;
  margin-left: 5px;
}
.About a {
  text-decoration: none;
  color: gray;
  margin: 3px;
  display: flex;
}
.Stay_Up_to_Date {
  width: 30%;
  height: 100%;
}
.Stay_Up_to_Date h4 {
  color: white;
  margin-left: 5px;
}
.stay img {
  width: 40px;
  height: 40px;
  background-color: black;
  border: 1px solid white;
  margin-left: 5px;
  margin-top: 10px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
.Explore {
  width: 100%;
  height: 40%;
  margin-top: 15px;
}
.Explore img {
  width: 50px;
  height: 50px;
  margin-left: 20px;
  margin-top: 15px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.br {
  width: 100%;
  height: 75px;
  border: 0.1px solid gray;
  display: flex;
  gap: 50px;
  background-color: black;
}
.pay {
  width: 30%;
  height: 70px;
  color: white;
}
.pay img {
  margin-top: 20px;
  margin-left: 20px;
  width: 90%;
  height: 30px;
}
.flag {
  width: 30%;
  height: 70px;
}
.flag a {
  display: flex;
  text-align: center;
  text-decoration: none;
  color: aliceblue;
  font-size: 25px;
  margin-left: 110px;
  margin-right: 110px;
  margin-top: 4px;
  margin-bottom: 10px;
  gap: 10px;
  padding: 10px;
  border: 1px solid gray;
}
.flag h4 {
  margin-top: 0px;
}
.flag img {
  width: 60px;
  height: 40px;
}
.f {
  width: 30%;
  height: 70px;
  color: gray;
  text-align: right;
  padding-top: 25px;
  padding: auto;
}

